@use '../../styles/variables' as *;

.heroSection {
  min-height: 100vh;
  padding: 32px 0;
  display: flex;
  align-items: center;

  .heroContainer {
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 42px;
    background: $bg-container;
    backdrop-filter: blur(18px);
    border-radius: $radius-container;
    box-shadow: $shadow-container;

    .badge {
      padding: 10px 24px;
      background: $bg-btn-gradient;
      border-radius: $radius-btn;
      font-size: 0.8em;
      font-weight: 600;
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .time {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 12px;
      }
    }

    .button {
      padding: 14px 28px;
      background: $bg-btn-gradient;
      border-radius: $radius-btn;
      box-shadow: $shadow-btn;
      font-weight: 600;
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: translateY(-4px) scale(1.03);
        box-shadow: $shadow-btn-hover;
      }
    }
  }
}
