html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

input,
button,
textarea,
select {
  color: inherit;
}
